
@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('https://i.pinimg.com/originals/14/ba/4f/14ba4fd010262c4ae2260478f846c5e0.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
  color: white;
}

.img-holder{
  margin-top: -225px;
  
}

.selfie{
  margin-top: 10px;
  border-radius: 50%;
  box-shadow: 2px 4px 15px hsl(0, 20%, 20%, 65%);
  transform: scale(50%, 50%);
}

.lead{
  text-align:center;
  font-size: 35px;
  font-family: 'Chivo', sans-serif;
  margin-top: -235px;
}

.sub-text{
  margin-top: 25px;
  font-size: 25px;
}

.projects{
  margin-top: 150px;
}


.proj-container{
  margin-top: -50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 850px;
  row-gap: 50px;
  margin-bottom: 100px;
}

.proj1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-shadow: 0 2px 3px black; 
  font-size: 22px;

}

.proj1-img{
  width: 300px;
  border-radius: 25px;
  margin: 20px 0 10px 0;
  box-shadow: 2px 4px 15px hsl(0, 20%, 10%, 90%);
}

.proj1-img:active{
  transform:scale(2);
}






.proj2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-shadow: 0 2px 3px black; 
  font-size: 22px;

}

.proj2-img{
  width: 300px;
  border-radius: 25px;
  margin: 20px 0 10px 0;
  box-shadow: 2px 4px 15px hsl(0, 20%, 10%, 90%);
}

.proj2-img:active{
  transform:scale(2);
}

.btn-site2{
  height: 30px;
  width: 150px;
  border-radius: 10px;
  box-shadow: 2px 4px 15px hsl(0, 20%, 20%, 65%);
  font-family: 'Chivo', sans-serif;
}

.btn-info2{
  height: 30px;
  width: 150px;
  border-radius: 10px;
  box-shadow: 2px 4px 15px hsl(0, 20%, 20%, 65%);
  cursor: pointer;
  font-family: 'Chivo', sans-serif;
}










.proj3{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-shadow: 0 2px 3px black; 
  font-size: 22px;
}

.proj3-img{
  width: 300px;
  border-radius: 25px;
  margin: 20px 0 10px 0;
  box-shadow: 2px 4px 15px hsl(0, 20%, 10%, 90%);
}

.proj3-img:active{
  transform:scale(2);
}

.btn-site3{
  height: 30px;
  width: 150px;
  border-radius: 10px;
  box-shadow: 2px 4px 15px hsl(0, 20%, 20%, 65%);
  font-family: 'Chivo', sans-serif;
}

.btn-info3{
  height: 30px;
  width: 150px;
  border-radius: 10px;
  box-shadow: 2px 4px 15px hsl(0, 20%, 20%, 65%);
  cursor: pointer;
  font-family: 'Chivo', sans-serif;
}








.proj4{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 50px;
  text-align: center;
  font-family: 'Chivo', sans-serif;
}












.proj-container div{
  background-image: linear-gradient(90deg, rgb(56,60,74) 15%, rgb(75,81,98) 60%, rgb(35, 180, 255, 54) 100%);
  width: 400px;
  height: min-content;
  border-radius: 25px;
  box-shadow: 2px 4px 15px hsl(0, 20%, 20%, 65%);
  border: 2px solid white;
  
}


.link{
  text-decoration: none;
  color: black;
  font-family: 'Chivo', sans-serif;
}

.btn-site1{
  height: 30px;
  width: 150px;
  border-radius: 10px;
  box-shadow: 2px 4px 15px hsl(0, 20%, 20%, 65%);
  font-family: 'Chivo', sans-serif;
}

.btn-info1{
  height: 30px;
  width: 150px;
  border-radius: 10px;
  box-shadow: 2px 4px 15px hsl(0, 20%, 20%, 65%);
  cursor: pointer;
  font-family: 'Chivo', sans-serif;
}

.description{
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
  font-family: 'Chivo', sans-serif;
  color: white;
}

.btn-holder{
  display: flex;
  column-gap: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.justify{
  text-align: center;
  margin: 15px;
  font-family: 'Chivo', sans-serif;
}

.hide{
  display: none;
}













@media only screen and (max-width: 650px){

body{
  background-position: center;
  display: flex;
  min-height: 100vh;
}



.img-holder{
  margin: auto;
  margin-top: -150px;
  margin-left: 15px;
}


.lead{
  margin-left: 500px;
  width: 100vw;
  margin-top: -200px;
  
}


.sub-text{
  font-size: 35px;
  width: 500px;
  margin-left: -85px;
  margin-top: 50px;
}


.proj-container{
  margin-left: 525px;
  
}

.projects div{
  display: flex;
  flex-direction: column;
}

.proj4{
  margin-bottom: 200px;
}


.selfie{
  margin-top: 10px;
  margin-bottom: 25px;
  border-radius: 50%;
  box-shadow: 2px 4px 15px black;
  transform: scale(60%, 60%);
}







}